
name: Teste DevOps Coodesh

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  staging:
    uses: ./.github/workflows/workflow.yml
    with:
      environment: staging
    secrets: inherit

  production:
    if:  ${{ github.event_name  == 'push' &&  github.ref_name == 'main' }}
    uses: ./.github/workflows/workflow.yml
    with:
      environment: production
    secrets: inherit